/* Navbar */

#content {
  max-width: 1600px;
  margin: 0 auto;
}
body {
  background-color: white;
}
nav,
nav a {
  text-align: center;
  background-color: #5b7553;
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: #d8f793;
  color: #5b7553;
}
header {
  background-color: #5b7553;
}
#hero-msg {
  text-align: center;
}
.home-title,
h4 {
  color: #51a3a3;
}
.book,
.join {
  background-color: #2c3d55;
  color: white;
  text-decoration: none;
}

.book:hover,
.join:hover {
  background-color: #d8f793;
  color: #2c3d55;
  text-decoration: none;
}

.button-box {
  text-align: center;
}

.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #d8f793;
}

.msg {
  background-color: #2c3d55;
  color: white;
}

footer {
  background-color: #2c3d55;
  color: white;
}

footer a {
  color: #d8f793;
  text-decoration: none;
}
footer a:hover {
  color: #51a3a3;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}
