#content {
  max-width: 1600px;
  margin: 0 auto;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#background {
  height: 725px;
  background-color: #d8f793;
  grid-column: 1/11;
  grid-row: 4/9;
}

.card-img,
.wildflowers {
  width: 100%;
}

.wildflowers {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg {
  background-color: #2c3d55;
  color: white;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
  padding-bottom: 15px;
}

.book,
.join {
  background-color: #2c3d55;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #d8f793;
  color: #2c3d55;
  text-decoration: none;
  font-size: 18px;
}
