/* Navbar */
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

#content {
  max-width: 100%;
  margin: 0 auto;
}
body {
  background-color: white;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
nav,
nav a {
  text-align: center;
  background-color: #d33f49;
  color: white;
  text-decoration: none;
  font-family: "Antic Slab", Arial, Helvetica;
  padding: 35px;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a:hover {
  background-color: #ff9999;
  color: white;
  padding: 35px;
}
header {
  background-color: #d33f49;
  display: grid;
  grid-template-columns: 157px auto;
}
.logo {
  width: 150px;
  padding-top: 7px;
  padding-left: 7px;
}
footer {
  background-color: #ff9999;
  color: #3a405a;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: #3a405a;
  text-decoration: none;
}
footer a:hover {
  color: #d33f49;
}

footer p {
  font-size: 1.2em;
  font-family: "Antic Slab", Arial, Helvetica;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}
.social img {
  width: 70px;
  z-index: -1;
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 600px;
}
.hero-msg {
  background-color: #aec5eb;
  color: #3a405a;
  text-align: center;
  grid-column: 3/6;
  grid-row: 2/5;
  z-index: 1;
  margin-right: 50px;
}
.hero-msg p {
  font-size: 16pt;
  font-family: "Antic Slab", Arial, Helvetica;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-msg h2 {
  font-size: 25pt;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}
.hero-image {
  width: 100%;
}
.hero-image-container {
  grid-column: 1/6;
  grid-row: 1/6;
}
.button-box {
  text-align: center;
  font-family: "Antic Slab", Arial, Helvetica;
  padding-bottom: 50px;
  margin: 40px;
}
.flavors-box {
  background-color: #3a405a;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.flavors-box:hover {
  background-color: #3a405a;
  color: #aec5eb;
  text-decoration: none;
  font-size: 18px;
}
#quote-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#flavors-heading {
  text-align: center;
  background-color: #aec5eb;
  width: 100%;
  height: 500px;
  grid-column: 1/5;
  grid-row: 1/4;
}
#flavors-msg {
  grid-column: 1/5;
}
#flavors-heading h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #3a405a;
}
#flavors-heading h2 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
}

.flavors-link {
  text-decoration: none;
  font-family: "Oswald", Helvetica, sans-serif;
  color: #3a405a;
  font-weight: bold;
}
#flavors-msg hr {
  border: 0.5px solid #3a405a;
  width: 15%;
}
h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
}
.bestsellers h1 {
  margin: 40px;
}
.bestsellers h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
  font-size: 35px;
}
.bestsellers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.bestsellers_img1 {
  width: 400px;
  grid-column: 1/2;
}
.bestsellers_img2 {
  width: 400px;
  grid-column: 2/3;
}
.bestsellers_img3 {
  width: 400px;
  grid-column: 3/4;
}

.spaceOnTop {
  padding-top: 100px;
}
#flavors_heading {
  background-color: #3a405a;
  color: white;
  height: auto;
  padding: 20px;
}
#flavors_heading h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: white;
  font-size: 35px;
  text-align: center;
  vertical-align: center;
  margin-top: -5px;
}
#flavors_heading p {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: white;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  vertical-align: center;
}
/* Image Overlay */
.container {
  position: relative;
}
.container:hover .overlay {
  opacity: 1;
  width: 400px;
}
.text {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #d33f49;
}
.overlay-orange {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #fddba0;
}
.container:hover .overlay-orange {
  opacity: 1;
  width: 400px;
}
.overlay-hotpink {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #e27fd5;
}
.container:hover .overlay-hotpink {
  opacity: 1;
  width: 400px;
}
.overlay-blue {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #83d6f0;
}
.container:hover .overlay-blue {
  opacity: 1;
  width: 400px;
}
.overlay-pink {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #f4989d;
}
.container:hover .overlay-pink {
  opacity: 1;
  width: 400px;
}
.overlay-teal {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #357e80;
}
.container:hover .overlay-teal {
  opacity: 1;
  width: 400px;
}
.overlay-yellow {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #f2c102;
}
.container:hover .overlay-yellow {
  opacity: 1;
  width: 400px;
}
.overlay-lightpink {
  position: absolute;
  top: 0;
  height: 534.45px;
  width: 400px;
  opacity: 0;
  transition: 0.3s ease;
  margin-left: 40px;
  background-color: #f0ced5;
}
.container:hover .overlay-lightpink {
  opacity: 1;
  width: 400px;
}

/* Image Hover end */

#flavors h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 80px;
}
#flavors h2 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: auto;
}

.hero-container-os {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr;
}
.hero-msg-os {
  background-color: #aec5eb;
  color: #3a405a;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 1;
}
.hero-msg-os p {
  font-size: 16pt;
  font-family: "Antic Slab", Arial, Helvetica;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-msg-os h2 {
  font-size: 25pt;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}
#about_flavors {
  background-color: white;
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 100px;
}
#about_flavors h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
  font-size: 35px;
}
#about_flavors p,
#about_flavors a {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
  font-size: 23px;
}
#about_flavors a {
  color: #d33f49;
}
#meet_kate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
#meet_kate_img {
  width: 100%;
  grid-column: 1/2;
}
#meet_kate h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #3a405a;
  font-size: 35px;
  padding-left: 150px;
  padding-right: 110px;
}
#meet_kate p {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #3a405a;
  font-size: 23px;
  padding-left: 150px;
  padding-right: 110px;
}
#meet_kate h2 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #d33f49;
  font-size: 35px;
  padding-left: 150px;
  padding-right: 110px;
}

#meet_kate_msg {
  grid-column: 2/3;
  padding-top: 200px;
}
#instagram-msg h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #3a405a;
  font-size: 35px;
  margin: auto;
}
#instagram-msg h2 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #d33f49;
  font-size: 20px;
  margin: auto;
}
#instagram-msg {
  padding-left: 80px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#instagram img {
  width: 300px;
  padding: 10px;
}
#instagram {
  padding-left: 70px;
  padding-right: 70px;
}
